.about-brand {
	background: #ffffff
	margin-top: -1px
	padding: 5rem 0 5.2rem
}

.about-brand__wrap {
	display: flex
	justify-content: space-between
	position: relative
	z-index: 5
}

.about-brand__column {
	width: 45.5%
}

.about-brand__title {
	h3 {
		font-weight: 300
		color: #084B48;
	}
}

.about-brand__txt {
	p {
		font-size: rem(20);
		line-height: rem(21);
		color: #555555;
		margin-top: 1.3rem
	}
}

.about-brand-img {
	margin-top: 4.1rem;
	width: 100%
	max-width: rem(546)
	box-shadow: 0px 0px 10px #085F63;
}
