.bottom-info {
	position: relative
	padding: 9.3rem 0 0
	
	.bg__text {
		top: 3.2rem
		bottom: auto
	}
}

.bottom-info__wrap {
	display: flex
}

.bottom-info__column-1 {
	width: 45%
}

.bottom-info__title {
	p {
		font-size: rem(34);
		line-height: rem(30);
		color: #FFFFFF;
	}
}

.bottom-info__column-2 {
	width: 55%
}

.bottom-info__price {
	display: flex
	flex-direction: column
	margin-top: 0.8rem
}

.bottom-info__discount-btn {
	margin-top: 3.1rem
	
	.info__footnote {
		margin-top: 1.1rem
	}
}

.bottom-info__img {
	width: 46.75rem;
	margin: 6rem 0 0 -18.8rem;
	position: relative;
}

.bottom-info__sale {
	position: absolute;
	top: 4.9rem;
	right: 11.1rem;
}

.bottom-info__logo {
	width: 12.5rem;
	position: absolute;
	right: 0.4rem;
	top: 24rem;
}