.decor {
	position: absolute
	pointer-events none
}

.top-info__decor-1 {
	top: -0.1rem;
	left: 6.6rem;
	z-index: 4;
}

.decor-svg {
	fill: none
}

.decor-svg-80 {
	width: 5.2rem;
	height: rem(72)
}

.decor-svg-50 {
	width: 3.23rem;
	height: rem(43)
}

.top-info__decor-2 {
	top: 23.2rem;
	left: -7.1rem;
	z-index: 4;
}

.top-info__decor-3 {
	top: 1.2rem;
	right: 4.4rem;
	z-index: 4;
}

.top-info__decor-4 {
	top: 16.1rem;
	right: 14.7rem;
	z-index: 4;
}

.top-info__decor-5 {
	top: 36.2rem;
	right: -12.45rem;
	z-index: 4;
}

.advantages__decor-1 {
	top: -9rem;
	right: -14.95rem;
	z-index: 4;
}

.advantages__decor-2 {
	top: -3.8rem;
	right: -7.95rem;
	z-index: 4;
}

.advantages__decor-3 {
	width: 12.38rem;
	top: -14.9rem;
	left: 17rem;
}

.advantages__decor-4 {
	width: 57.47rem;
	top: 6rem;
	left: -38.3rem;
}

.offer__decor-1 {
	right: -6.8rem;
	top: 4.3rem;
}

.offer__decor-2 {
	right: -1.8rem;
	top: 9.3rem;
}

.reviews__decor-1 {
	width: 55.87rem;
	top: -21.5rem;
	left: -20.4rem;
}

.reviews__decor-2 {
	right: -8.5rem;
	top: -23.7rem;
	z-index: 4;
	width: 17.4rem;
}

.our-work__decor-1 {
	top: 16.1rem;
	left: -6.1rem;
}

.our-work__decor-2 {
	top: 4.6rem;
	right: -4.3rem;
}

.bottom-info__decor-1 {
	top: 14.6rem;
	right: 7.5rem;
	
}

.bottom-info__decor-2 {
	top: 10.6rem;
	right: 4.7rem;
}

.bottom-info__decor-3 {
	bottom: -0.1rem;
	left: 4.4rem;
}

.product__decor-1 {
	bottom: 18.4rem;
	right: 7.7rem;
}

.product__decor-2 {
	bottom: 15rem;
	right: 3.5rem;
}

.product__decor-3 {
	top: 0.6rem;
	left: -1.6rem;
}
.product__decor-4 {
	top: 20.1rem;
	right: 1rem;
	z-index: -1;
}