.title {
	
	h2{
		font-weight: 100;
		font-size: rem(48);
		line-height: rem(47);
		font-family: 'HelveticaNeueCyr';
	}
	h3{
		font-size: rem(36);
		line-height: rem(36);
		font-family: 'HelveticaNeueCyr';
	}
	h4{
		font-size: rem(24);
		line-height: rem(24);
		font-family: 'HelveticaNeueCyr';
	}
}