@media (min-width: 1950px) and (max-width: 2500px) {
	.w_720-h_444 {
		//max-width: 75rem
		max-width: 100%
	}
	
	.w_500-h_444 {
		//max-width: 61.25rem;
		max-width: 100%
	}
	
	.w_680-h_444 {
		//max-width: 72.5rem;
		max-width: 100%
	}
	
	.w_100-h_300 {
		width: 100%
		//height: rem(300)
		object-fit cover
		font-family: 'object-fit: cover;';
	}
	.gallery__line {
		div{
			margin: 0 rem(5)
		}
	}
	.gallery__column {
		margin: 0 rem(5)
		width: 33%
		div {
			margin: rem(5)
		}
	}
	.w_720-h_376 {
		max-width: 100%
		//max-width: 75rem;
		height: 43.5rem;
	}
	
	.w_720-h_522 {
		max-width: 100%
		//max-width: 75rem;
		height: 52.63rem;
	}
	
	.w_500-h_699 {
		max-width: 100%
		//max-width: 61.25rem;
		height: 63.69rem;
	}
	
	.w_500-h_199 {
		max-width: 100%
		//max-width: 61.25rem;
		height: 32.44rem;
	}
	
	.w_680-h_376 {
		max-width: 100%
		//max-width: 72.5rem;
		height: 43.5rem;
	}
	
	.w_680-h_522 {
		max-width: 100%
		//max-width: 72.5rem;
		height: 52.63rem;
	}
	
	.gallery__column {
		margin: 0 rem(5)
		&:first-child{
			width: 33%
		}
		&:nth-child(2){
			width: 33%
		}
		&:last-child{
			width: 33%
		}
		div {
			margin: rem(5)
		}
	}
	.reviews:after {
		bottom: -12.9rem;
	}
}


@media (min-width: 1360px) and (max-width: 1679px) {
	html {
		font-size: 1.2vw;
	}
	.gallery__line {
		div{
			margin: 0 rem(5)
		}
	}
	.gallery__column {
		margin: 0 rem(5)
		width: 33% !important
		div {
			margin: rem(5)
		}
	}
	.advantages__video{
	-webkit-background-size: cover
	background-size: cover
}
	.btn-cart {
		right: 3rem;
		bottom: 4.9rem;
	}
}


@media (min-width: 980px) and (max-width: 1300px){
	html{
		font-size: 1.25vw
	}
	.gallery__line {
		div{
			margin: 0 rem(5)
		}
	}
	.gallery__column {
		margin: 0 rem(5)
		div {
			margin: rem(5)
		}
	}
	.btn-cart {
		right: 3rem;
		bottom: 4.9rem;
	}
}
